# EXPO_PUBLIC_SANITY_PROJECT_ID=nxq0o4ir
# EXPO_PUBLIC_SANITY_DATASET=production
# EXPO_PUBLIC_SUPABASE_URL=https://szukaienojmmcefrdcjg.supabase.co
# EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6dWthaWVub2ptbWNlZnJkY2pnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkwMjczMzcsImV4cCI6MjA1NDYwMzMzN30._mzzO6zScj-yJYr1QGxo1wFRGKkHB1ZtmuzO-WkKWRM