# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env

# Large image files
assets/images/pexels-bulbfish-1143754.jpg
assets/images/pexels-ella-olsson-572949-1640770.jpg
assets/images/pexels-ella-olsson-572949-3026806.jpg
assets/images/pexels-helloaesthe-30926470.jpg
assets/images/pexels-ionela-mat-268382825-19671313.jpg
